@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&display=swap');

body {
    background-image: url('/assets/0000998933_OG.JPG');
    background-size: cover;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Cinzel', serif;
}

.title {
    font-size: 3rem;
    color: #fff3b4;
    text-align: center;
    margin-top: 20px;
}